h1{
    color: red; /*comentario en css - color de la tipografia*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
    text-align: center;
}
h2{
    color: blue;
    font-style: italic;
}
p{
    color: green;
}
img{
        padding-left: 40%; border-bottom: 2cm crimson;
     }

#caja1{ 
    background-color: blueviolet;  
    border: 2px solid 
    width: 250px;
    height: 300px;
}
    
#caja2{
    background-color: coral;
    width: 250px;
    height: 300px;
}

#caja3{
    background-color: greenyellow;
    width: 300px;
    height: 150px;
}

#contenedor{
	border:1px solid #aaa;
	background-color: #dddddd;
	margin:0 auto;
	width: 60%;
	height: 500px;
	position: relative;
	}
.destacados{
    font-size: 20px; 
    font-weight: bold;
}